.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.title {
  font-size: 32px;
  color: #032b41;
  text-align: left;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 16px;
  margin-bottom: 32px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
}

.text {
  color: #032b41;
}

.btn {
  width: fit-content;
  background-color: #2bd97c;
  color: #032b41;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.loginWrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.loginWrapper img {
  width: 100%;
  height: 100%;
}

.loginText {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  width: 300px;
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }
}